.stations-view .station-import,
.stations-view .station-actions {
  text-align: center;
}

.stations-view .station-actions > div:first-child {
  text-align: left;
  padding: 0 10px;
}

.stations-view .station-import {
  text-align: center;
}

.station-import.file-path.ant-tooltip .ant-tooltip-inner {
  max-width: 350px;
}

.station-import .ant-progress .ant-progress-bg {
  transition: width .6s ease-out;
}

.station-import .ant-progress.animation-off .ant-progress-bg {
  transition: none;
}
