.stations-view .station-import,
.stations-view .station-actions {
  text-align: center;
}

.stations-view .station-actions > div:first-child {
  text-align: left;
  padding: 0 10px;
}

.stations-view .station-actions .ant-btn {
  line-height: normal;
}
