.main-page-settings .ant-modal-body {
  padding: 0;
}

.main-page-settings .ant-tabs-left .ant-tabs-tab {
  text-align: left !important;
}

.main-page-settings .ant-tabs-tabpane {
  padding: 10px 10px 10px 0;
  overflow: auto;
}

.main-page-settings .ant-row.ant-form-item {
  margin-bottom: 2px;
}

.main-page-settings fieldset {
  border: none;
  border-top: 1px solid #e9e9e9;
}

.main-page-settings fieldset legend {
  margin: 0 25px;
  padding: 0 8px;
  width: auto;
  border: none;
  color: inherit;
}

.main-page-settings fieldset legend .ant-switch {
  margin-bottom: 3px;
}

.main-page-settings fieldset > div.show {
  overflow: hidden;
  max-height: 500px;
  transition: max-height 1.6s ease-out;
}

.main-page-settings fieldset > div.hide {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.8s ease-in;
}

.main-page-settings .ant-form-item-control > .ant-input-group-sm,
.main-page-settings .ant-form-item-control > div > .ant-input-group-sm {
  padding-top: 8px;
}

.main-page-settings form .ant-table .ant-select-sm {
  top: 0px;
}

.main-page-settings .color-input {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMTJDBGvsAAAAK0lEQVQ4T2M4gwP8xwFGNSADqDwGIF0DlMYAUH0YYFQDMoDKYwASNZw5AwCE0rCf8ngV7wAAAABJRU5ErkJggg==');
  background-position: center;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.main-page-settings .color-input > div {
  height: 16px;
  border: 1px solid silver;
  border-radius: 4px;
}

.dz-view-select {
  margin-top: 1px;
  position: relative;
  width: 42px;
  height: 28px;
}

.dz-view-select > div {
  position: absolute;
}

.dz-view-select.circle {
  margin-top: 4px;
  width: 36px;
  height: 22px;
}

.dz-view-select.circle > div {
  border-radius: 50%;
  width: 22px;
  height: 22px;
}

.dz-view-select.circle > div.positive {
  background-color: rgba(208, 2, 27, 0.5);
}

.dz-view-select.circle > div.negative {
  background-color: rgba(42, 71, 226, 0.5);
  left: 14px;
}

.dz-view-select.circle-gradient > div {
  width: 28px;
  height: 28px;
}

.dz-view-select.circle-gradient > div.positive {
  background: radial-gradient(circle closest-side at center, rgba(208, 2, 27, 0.5) 0%, rgba(208, 2, 27, 0) 100%);
}

.dz-view-select.circle-gradient > div.negative {
  background: radial-gradient(circle closest-side at center, rgba(42, 71, 226, 0.5) 0%, rgba(42, 71, 226, 0) 100%);
  left: 14px;
}

.dz-view-select.square {
  margin-top: 7px;
  width: 32px;
  height: 15px;
}

.dz-view-select.square > div {
  width: 15px;
  height: 15px;
}

.dz-view-select.square > div.positive {
  border: 1px solid black;
}

.dz-view-select.square > div.negative {
  left: 17px;
  position: relative;
}

.dz-view-select.square > div.negative:before {
  content: '';
  position: absolute;
  left: calc(50% - 1px);
  width: 1px;
  height: 100%;
  background-color: black;
}

.dz-view-select.square > div.negative:after {
  content: '';
  position: absolute;
  top: calc(50% - 1px);
  width: 100%;
  height: 1px;
  background-color: black;
}
