.map-land {
  fill: #d7c7ad;
  stroke: #766951;
}
.map-country {
  fill: none;
  stroke: #766951;
  stroke-opacity: 0.4;
}
.map-ocean {
  fill: #a4bac7;
}
.map-graticule path{
  fill: none;
  stroke: black;
  stroke-width: 1px;
  stroke-opacity: 0.2;
  stroke-dasharray: 2,2;
}
.map-outline {
  fill: none;
  stroke: #888888;
  stroke-width: 1px;
}

.map-axis text {
  font-family: Consolas;
  fill: #888888;
  font-size: 1.1em;
}
.map-axis.azimuthal text {
  font-size: 0.85em;
}
.map-axis.azimuthal line {
  fill: none;
  stroke: #888888;
}

.map-point {
  opacity: 0.75;
}
.map-point rect{
  fill: transparent;
  stroke: black;
  stroke-width: 1px;
  transform-origin: 50% 50%;
}

.map-point rect.bad-value {
  /*stroke: red;*/
  /*stroke: rgb(74,144,226);*/
}

.map-point line{
  fill: none;
  stroke: black;
  stroke-width: 2px;
}

.map-point circle {
  stroke: none;
  /*fill-opacity: 0.5;*/
}

.map-terminator path {
  fill: black;
  fill-opacity: 0.3;
}

.map-terminator circle {
  fill: yellow;
  fill-opacity: 0.5;
}

.map-tooltip-text rect {
  rx: 5;
  fill-opacity: 0.75;
  fill: black;
}

.map-tooltip-text text {
  font-family: Consolas;
  font-size: 0.82em;
}
/*
.map-graticule :nth-child(2n+16) {
  stroke-dasharray: 2,2;
}
.map-graticule :nth-child(-2n+15) {
  stroke-dasharray: 2,2;
}
*/

