.color-cell {
  position: relative;
  padding-right: 24px;
}

.color-cell-wrapper {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMTJDBGvsAAAAK0lEQVQ4T2M4gwP8xwFGNSADqDwGIF0DlMYAUH0YYFQDMoDKYwASNZw5AwCE0rCf8ngV7wAAAABJRU5ErkJggg==');
  background-position: center;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.color-cell-wrapper > div {
  height: 16px;
  border: 1px solid silver;
  border-radius: 4px;
}

.ant-popover .sketch-picker {
  padding: 0 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}

.color-cell-icon {
  position: absolute;
  right: 0;
  top: 0;
  line-height: 21px;
}

.color-cell:hover .color-cell-icon {
  color: #108ee9;
}
