.dataset-view .dataset-import,
.dataset-view .dataset-actions {
  text-align: center;
}

.dataset-view .dataset-grid th {
  white-space: nowrap;
}

.dataset-values-view .dataset-actions > div:first-child {
  text-align: left;
  padding: 0 10px;
}

.dataset-values-view .dataset-actions .ant-btn {
  line-height: normal;
}
